{
    "openapi": "3.0.0",
    "info": {
      "title": "Handwrytten API",
      "description": "This is an API documentation for a Handwrytten Client.",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api2.handwrytten.com/api/v1/user",
        "description": "Production Server v1"
      },
      {
        "url": "https://api2.handwrytten.com/api/v2/user",
        "description": "Production Server v2"
      }
    ],
    "paths": {
      "/auth/checkLogin": {
        "get": {
          "summary": "Check whether a user exists in the db.",
          "tags": [
            "Auth"
          ],
          "parameters": [
            {
              "$ref": "#/paths/~1auth~1getUser/get/parameters/0"
            },
            {
              "in": "query",
              "name": "login",
              "description": "A user's login",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          200
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "ok"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "UNAUTHORIZED",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          401
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "login missing"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/getUser": {
        "get": {
          "summary": "Get a user's data. The data is retrieved from the session automatically.",
          "tags": [
            "Auth"
          ],
          "parameters": [
            {
              "in": "header",
              "name": "Authorization",
              "description": "A user's token",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          200
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "ok"
                        ]
                      },
                      "id": {
                        "type": "integer"
                      },
                      "login": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "UNAUTHORIZED",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          401
                        ],
                        "description": "Http status code"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string"
                      }
                    },
                    "example": {
                      "httpCode": 401,
                      "status": "error",
                      "message": "no auth"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/setTestMode": {
        "post": {
          "summary": "Update a user's test_mode property.",
          "tags": [
            "Auth"
          ],
          "parameters": [
            {
              "$ref": "#/paths/~1auth~1getUser/get/parameters/0"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "test_mode": {
                      "type": "integer",
                      "enum": [
                        0,
                        1
                      ]
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          200
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "ok"
                        ]
                      },
                      "test_mode": {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/paths/~1auth~1getUser/get/responses/401"
            }
          }
        }
      },
      "/auth/registration": {
        "post": {
          "summary": "Sign up form",
          "description": "Register new user using email address and password. Sends activation email to user email address. User status is not_active until email is confirmed by clicking the link in the email.",
          "tags": [
            "Auth"
          ],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/paths/~1auth~1registration/post/requestBody/content/application~1json/schema"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "login": {
                      "type": "string"
                    },
                    "password": {
                      "type": "string"
                    },
                    "password_confirmation": {
                      "type": "string"
                    },
                    "fname": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Phone number"
                    },
                    "lname": {
                      "type": "string",
                      "required": true
                    },
                    "full-name": {
                      "type": "string",
                      "deprecated": true
                    },
                    "dicount_code": {
                      "type": "string",
                      "description": "Managed in admin area. Used to add credits / bonus credits to the user, and attach user to one of the existing groups."
                    },
                    "silent_add": {
                      "type": "boolean",
                      "description": "if the value is true, then the registration notification will not be sent"
                    },
                    "silent": {
                      "type": "boolean",
                      "description": "if the value is true, then the registration notification will not be sent"
                    }
                  },
                  "required": [
                    "login",
                    "password",
                    "password_confirmation",
                    "fname",
                    "lname"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "$ref": "#/paths/~1auth~1registration/post/requestBody/content/application~1json/schema"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          200
                        ],
                        "description": "Http status code"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "ok"
                        ]
                      },
                      "user_id": {
                        "type": "integer",
                        "description": "An id a new user."
                      },
                      "dicount_credit": {
                        "type": "integer",
                        "description": "A user's credits."
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "INVALID_DATA",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "string",
                        "enum": [
                          400
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "UNAUTHORIZED",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "string",
                        "enum": [
                          401
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "login/password missing.",
                          "User :login already exists.",
                          "Password is too short. Minimum 4 characters.",
                          "Wrong password confirmation.",
                          "First Name is required.",
                          "Last Name is required.",
                          "Sorry, the discount code you are trying to use is invalid!",
                          "We are sorry, this discount code has already been used the maximum number of times."
                        ]
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "SERVER_ERROR",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "string",
                        "enum": [
                          500
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "Anet null response received."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/authorization": {
        "post": {
          "summary": "Sign in form.",
          "tags": [
            "Auth"
          ],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/paths/~1auth~1authorization/post/requestBody/content/application~1json/schema"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "login": {
                      "type": "string",
                      "required": true
                    },
                    "password": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "$ref": "#/paths/~1auth~1authorization/post/requestBody/content/application~1json/schema"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "A user's auth token"
                      },
                      "user": {
                        "type": "object",
                        "description": "A user's data"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "UNAUTHORIZED",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "string",
                        "enum": [
                          401
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "Login data is invalid.",
                          "Password is incorrect.",
                          "Your account is not activated. Check your email.",
                          "Your account is blocked."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/token/:token": {
        "post": {
          "summary": "Log in as a user via a user's token",
          "tags": [
            "Auth"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "hash",
              "description": "A user's token",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "A user's auth token"
                      },
                      "user": {
                        "type": "object",
                        "description": "A user's data"
                      }
                    }
                  }
                }
              }
            },
            "403": {
              "description": "NO_PERMISSION",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          403
                        ],
                        "description": "Http status code"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "The user is banned.",
                          "The user is not activated."
                        ]
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "NOT FOUND",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          404
                        ],
                        "description": "Http status code"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "No user with such token."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/activation/:hash": {
        "post": {
          "summary": "Activate user via email hash",
          "tags": [
            "Auth"
          ],
          "parameters": [
            {
              "$ref": "#/paths/~1auth~1token~1%3Atoken/post/parameters/0"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "A user's auth token"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "INVALID_DATA",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "string",
                        "enum": [
                          400
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "Please, check the url address.",
                          "Incorrect activation key.",
                          "This account has already been activated.",
                          "The URL address is incorrect. Maybe this account has already been activated."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/resetPasswordRequest": {
        "post": {
          "summary": "Send an email to reset a user's password.",
          "tags": [
            "Auth"
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "login": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "enum": [
                          "Reset request has been send on your email."
                        ]
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "UNAUTHORIZED",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "string",
                        "enum": [
                          401
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "Login missing.",
                          "No user with such login.",
                          "The user is banned.",
                          "The user has been registered without a password."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/resetPasswordConfirm/:hash": {
        "get": {
          "summary": "Get a user's hash to confirm reset password.",
          "tags": [
            "Auth"
          ],
          "parameters": [
            {
              "$ref": "#/paths/~1auth~1token~1%3Atoken/post/parameters/0"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "hash": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "UNAUTHORIZED",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          401
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "No hash."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "400": {
            "description": "INVALID_DATA",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "httpCode": {
                      "type": "string",
                      "enum": [
                        400
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "The reset session is expired. Try the reset process again.",
                        "Please enter your new password.",
                        "The entered passwords don\\'nt match."
                      ]
                    }
                  }
                }
              }
            }
          },
          "summary": "Send a user's hash to confirm reset password.",
          "tags": [
            "Auth"
          ],
          "parameters": [
            {
              "$ref": "#/paths/~1auth~1token~1%3Atoken/post/parameters/0"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pass": {
                      "type": "string",
                      "required": true
                    },
                    "pass_confirm": {
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "enum": [
                          "The password has been changed."
                        ]
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "UNAUTHORIZED",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          401
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "The url is invalid. Please, check the url or repeat the reset process."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/integrations": {
        "post": {
          "summary": "Sign up in Handwryten App for integrations",
          "tags": [
            "Auth"
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "login": {
                      "type": "string",
                      "required": true
                    },
                    "password": {
                      "type": "string",
                      "required": true
                    },
                    "user_key": {
                      "type": "string",
                      "required": true
                    },
                    "api_key": {
                      "type": "string",
                      "required": false
                    },
                    "password_confirmation": {
                      "type": "string",
                      "required": true
                    },
                    "fname": {
                      "type": "string",
                      "required": true
                    },
                    "lname": {
                      "type": "string",
                      "required": true
                    },
                    "dicount_code": {
                      "type": "string"
                    },
                    "provider": {
                      "type": "string",
                      "enum": [
                        "redtail"
                      ]
                    },
                    "need_avtivate": {
                      "type": "boolean",
                      "description": "Activate a user without sending an email."
                    }
                  }
                },
                "encoding": {
                  "payload": {
                    "contentType": "application/json"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "login": {
                      "type": "string",
                      "required": true
                    },
                    "password": {
                      "type": "string",
                      "required": true
                    },
                    "user_key": {
                      "type": "string",
                      "required": true
                    },
                    "api_key": {
                      "type": "string",
                      "required": false
                    },
                    "password_confirmation": {
                      "type": "string",
                      "required": true
                    },
                    "fname": {
                      "type": "string",
                      "required": true
                    },
                    "lname": {
                      "type": "string",
                      "required": true
                    },
                    "dicount_code": {
                      "type": "string",
                      "provider": {
                        "type": "string",
                        "enum": [
                          "redtail"
                        ]
                      }
                    },
                    "need_avtivate": {
                      "type": "boolean",
                      "description": "Activate a user without sending an email."
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          200
                        ],
                        "description": "Http status code"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "ok"
                        ]
                      },
                      "user_id": {
                        "type": "integer",
                        "description": "An id a new user."
                      },
                      "dicount_credit": {
                        "type": "integer",
                        "description": "A user's credits."
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "INVALID_DATA",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "string",
                        "enum": [
                          400
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "UNAUTHORIZED",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "string",
                        "enum": [
                          401
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "integration not found",
                          "User already exists.Please,try login.",
                          "login/password missing.",
                          "User :login already exists.",
                          "Password is too short. Minimum 4 characters.",
                          "Wrong password confirmation.",
                          "First Name is required.",
                          "Last Name is required.",
                          "Sorry, the discount code you are trying to use is invalid!",
                          "We are sorry, this discount code has already been used the maximum number of times."
                        ]
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "SERVER_ERROR",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "string",
                        "enum": [
                          500
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "error"
                        ]
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "Anet null response received."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/socialNetworkRegistration": {
        "post": {
          "tags": [
            "Auth"
          ],
          "summary": "Authorize by social network",
          "description": "Authorize/Register by social network",
          "operationId": "auth_provider",
          "parameters": [
            {
              "in": "header",
              "name": "X-Client",
              "schema": {
                "type": "string",
                "description": "(Handwrytten-iOS|Handwrytten-Android) {version}",
                "example": "Handwrytten-iOS 3.1"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "string",
                      "enum": [
                        "facebook",
                        "google",
                        "apple"
                      ]
                    },
                    "access_token": {
                      "type": "string"
                    },
                    "discount_code": {
                      "type": "string"
                    },
                    "add_email_status": {
                      "type": "string",
                      "example": "ok",
                      "deprecated": true
                    },
                    "fullname": {
                      "type": "string",
                      "deprecated": true
                    },
                    "fname": {
                      "type": "string",
                      "description": "First name (actual for apple provider)",
                      "deprecated": false
                    },
                    "lname": {
                      "type": "string",
                      "description": "Last name (actual for apple provider)",
                      "deprecated": false
                    },
                    "login": {
                      "type": "string",
                      "deprecated": true
                    },
                    "id": {
                      "type": "string",
                      "deprecated": true
                    },
                    "client": {
                      "type": "string",
                      "description": "for web applications",
                      "example": "web",
                      "deprecated": true
                    }
                  },
                  "required": [
                    "provider"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 200
                      },
                      "status": {
                        "type": "string",
                        "example": "ok"
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 979877
                      },
                      "uid": {
                        "type": "string",
                        "example": "d955f855692a6161e3009ee015941c63",
                        "description": "token for future authorized calls"
                      },
                      "anet_customer_id": {
                        "type": "string",
                        "example": "hfekjh",
                        "description": "used internally by Handwrytten"
                      },
                      "free_cards": {
                        "type": "integer",
                        "example": 1,
                        "description": "number of free cards in account"
                      },
                      "token": {
                        "type": "string"
                      },
                      "fname": {
                        "type": "string",
                        "description": "First name"
                      },
                      "lname": {
                        "type": "string",
                        "description": "Last name"
                      },
                      "fullname": {
                        "type": "string",
                        "description": "{fname} {lname}"
                      },
                      "shared": {
                        "type": "object",
                        "properties": {
                          "twitter": {
                            "type": "boolean"
                          },
                          "facebook": {
                            "type": "boolean"
                          },
                          "mail": {
                            "type": "boolean"
                          }
                        }
                      },
                      "registration_type": {
                        "type": "string",
                        "enum": [
                          "email",
                          "facebook",
                          "google"
                        ]
                      },
                      "email": {
                        "type": "string",
                        "description": "email from login"
                      },
                      "discount_credit": {
                        "type": "number"
                      },
                      "has_no_password": {
                        "type": "boolean"
                      },
                      "invoiced": {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "test_mode": {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 400
                      },
                      "error": {
                        "type": "string",
                        "description": "error description",
                        "enum": [
                          "invalid provider",
                          "Invalid Email",
                          "Email already exists",
                          "invalid access token",
                          "banned",
                          "not activated"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Auth error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 500
                      },
                      "error": {
                        "type": "string",
                        "description": "error description",
                        "enum": [
                          "Social network auth failed. Try again later",
                          "Wrong social network registration: {message}",
                          "authorize.net error"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/logout": {
        "post": {
          "tags": [
            "Auth"
          ],
          "summary": "Logout user from application",
          "description": "Logout user from application",
          "operationId": "logout",
          "security": [
            {},
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "successful logout"
            }
          }
        }
      },
      "/auth/setPassword": {
        "post": {
          "tags": [
            "Auth"
          ],
          "summary": "Convert account from social network to password.",
          "description": "Convert account from social network to password. Send an email with a link to a page where user can set a password.",
          "operationId": "set_password",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "e-mail"
                    }
                  },
                  "required": [
                    "email"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 200
                      },
                      "status": {
                        "type": "string",
                        "example": "ok"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 400
                      },
                      "error": {
                        "type": "string",
                        "description": "error description",
                        "enum": [
                          "password is already set",
                          "no email",
                          "Email already exists"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "No auth",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 401
                      },
                      "error": {
                        "type": "string",
                        "description": "error description",
                        "enum": [
                          "no auth"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/convertAccount": {
        "post": {
          "tags": [
            "Auth"
          ],
          "summary": "Convert account from social network to password",
          "description": "Convert account from social network to password. Send an email with a link to a page where user can set a password.",
          "operationId": "set_password",
          "deprecated": true,
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "e-mail"
                    },
                    "password": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "email",
                    "password"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 200
                      },
                      "status": {
                        "type": "string",
                        "example": "ok"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 400
                      },
                      "error": {
                        "type": "string",
                        "description": "error description",
                        "enum": [
                          "undefined email",
                          "email is not valid",
                          "email already exists",
                          "password is already set",
                          "no password"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "No auth",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 401
                      },
                      "error": {
                        "type": "string",
                        "description": "error description",
                        "enum": [
                          "no auth"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/basket/send": {
        "post": {
          "tags": [
            "Orders"
          ],
          "summary": "Send basket",
          "description": "Send basket.",
          "operationId": "basket_send",
          "security": [
            {},
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "test_mode": {
                      "type": "boolean",
                      "enum": [
                        0,
                        1
                      ],
                      "description": "if set, test_mode should be equal to user test_mode"
                    },
                    "couponCode": {
                      "type": "string"
                    },
                    "credit_card_id": {
                      "type": "integer"
                    },
                    "check_quantity": {
                      "type": "boolean",
                      "description": "check cards and inserts quantity in stock, return `insufficient quantity` error in case of low stock"
                    },
                    "check_cass_before_submit": {
                      "type": "integer",
                      "enum": [
                        0,
                        1
                      ],
                      "default": 0,
                      "description": "check the recipient's address before submitting, applies to order with delivery confirmation <br> <br>\n**If the value is 0, the address will be checked after the purchase, if the address is wrong, the amount will be returned to the credit balance.**\n"
                    },
                    "notes": {
                      "type": "object",
                      "description": "dictionary of order notes, order id is used as a key",
                      "additionalProperties": {
                        "type": "string",
                        "description": "order note"
                      },
                      "example": {
                        "196936": "note 1",
                        "196937": "note 2"
                      }
                    },
                    "price_structure": {
                      "type": "object",
                      "description": "Expected structure price by types of payment. If the structure does not match during the calculation, an error will be returned",
                      "properties": {
                        "coupon": {
                          "type": "number",
                          "example": 10
                        },
                        "credit1": {
                          "type": "number",
                          "example": 5
                        },
                        "credit2": {
                          "type": "number",
                          "example": 3.45
                        },
                        "money": {
                          "type": "number",
                          "example": 1.12
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 200
                      },
                      "status": {
                        "type": "string",
                        "example": "ok"
                      },
                      "items": {
                        "type": "object",
                        "description": "dictionary of order objects, order id is used as a key",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": 9513
                            },
                            "card_id": {
                              "type": "string",
                              "example": 863
                            },
                            "order_id": {
                              "type": "string",
                              "example": 44369
                            },
                            "is_bulk": {
                              "type": "string",
                              "example": 0
                            },
                            "denomination_id": {
                              "type": "string",
                              "example": 13
                            },
                            "message": {
                              "type": "string",
                              "example": "Hello Ydod!"
                            },
                            "wishes": {
                              "type": "string",
                              "example": "best rigardz",
                              "description": "wishes as part of the signature in the letter"
                            },
                            "signature": {
                              "$ref": "#/paths/~1orders~1list/get/responses/200/content/application~1json/schema/properties/orders/items/properties/signature"
                            },
                            "signature2": {
                              "$ref": "#/paths/~1orders~1list/get/responses/200/content/application~1json/schema/properties/orders/items/properties/signature"
                            },
                            "for_free": {
                              "type": "string",
                              "example": 0
                            },
                            "price": {
                              "type": "string",
                              "example": 1
                            },
                            "discount_code": {
                              "type": "string",
                              "example": null
                            },
                            "font": {
                              "type": "string",
                              "example": "hwJenna"
                            },
                            "quantity": {
                              "type": "string",
                              "example": 1
                            },
                            "date_to_send": {
                              "type": "string",
                              "nullable": true
                            },
                            "delivery_cost": {
                              "type": "string",
                              "example": 0.55
                            },
                            "intl_quantity": {
                              "type": "string",
                              "nullable": true
                            },
                            "addressId": {
                              "type": "string",
                              "example": 108883
                            },
                            "address_to": {
                              "$ref": "#/paths/~1profile~1parseXls/post/responses/200/content/application~1json/schema/properties/recipients/items"
                            },
                            "address_from": {
                              "$ref": "#/paths/~1profile~1parseXls/post/responses/200/content/application~1json/schema/properties/recipients/items"
                            },
                            "denomination": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": 13
                                },
                                "nominal": {
                                  "type": "string",
                                  "example": 25
                                },
                                "price": {
                                  "type": "string",
                                  "example": 25
                                }
                              }
                            },
                            "giftCard": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": 10
                                },
                                "image": {
                                  "type": "string",
                                  "example": "https://d3e924qpzqov0g.cloudfront.net/cardimages/201412220728_FootLocker25.png"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Foot Locker Gift Card"
                                }
                              }
                            },
                            "fontInfo": {
                              "$ref": "#/paths/~1orders~1listGrouped/get/responses/200/content/application~1json/schema/properties/orders/items/properties/fontInfo"
                            },
                            "date_day": {
                              "type": "string",
                              "example": 22
                            },
                            "date_month": {
                              "type": "string",
                              "example": "Jul 2019"
                            },
                            "date_send": {
                              "type": "string",
                              "format": "date",
                              "example": "2019-07-23T00:00:00.000Z"
                            },
                            "card_category_name": {
                              "type": "string",
                              "example": "Birthday"
                            },
                            "card_name": {
                              "type": "string",
                              "example": "Ivan1"
                            },
                            "card_cover": {
                              "type": "string",
                              "example": "https://d3e924qpzqov0g.cloudfront.net/cardimages/201907150813_Astromaster114AZ.png"
                            },
                            "local_total": {
                              "type": "number",
                              "example": 26.55
                            },
                            "local_total_cards_only": {
                              "type": "number",
                              "example": 1.55
                            },
                            "payed": {
                              "type": "number",
                              "example": 26.55
                            },
                            "used_credit": {
                              "type": "string",
                              "example": 0
                            },
                            "note": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 400
                      },
                      "error": {
                        "type": "string",
                        "description": "error description",
                        "enum": [
                          "test mode error",
                          "invalid coupon code",
                          "Coupon already used",
                          "Coupon already expired",
                          "credit_card id error",
                          "no such credit card",
                          "[response from Authorize.Net]",
                          "Can't get transaction id with card payment.",
                          "insufficient quantity",
                          "Something went wrong with your payment method. Please refresh the page and try again"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/paths/~1basket~1item/get/responses/401"
            }
          }
        }
      },
      "/basket/itemFromAddress": {
        "get": {
          "summary": "Get sender address for basket item. (Return address_ids)",
          "tags": [
            "AddressBook"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "id",
              "required": true,
              "description": "basket item id (basket_id)"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "number",
                        "description": "example 200"
                      },
                      "status": {
                        "type": "string",
                        "description": "example OK"
                      },
                      "address_ids": {
                        "type": "array",
                        "description": "address ids used for this order"
                      },
                      "address": {
                        "type": "object",
                        "description": "address from"
                      }
                    },
                    "example": {
                      "httpCode": 200,
                      "status": "OK",
                      "address_ids": [
                        108880,
                        108123
                      ],
                      "address": {
                        "id": 108900,
                        "type": "order_from",
                        "user_id": 8059,
                        "order_id": 44377,
                        "name": "First Laster",
                        "business_name": "business name",
                        "address1": "USA fl. 13",
                        "address2": "USA fl. 14",
                        "city": "New York",
                        "state": "AK",
                        "zip": 644100,
                        "date_created": "2019-07-22T09:15:56.000Z",
                        "date_updated": "2019-07-22T17:58:22.000Z",
                        "basket_id": 9519,
                        "country": "United States",
                        "delivery_cost": 0.55,
                        "country_id": 1,
                        "first_name": "First",
                        "last_name": "Laster",
                        "birthday": "birthday",
                        "address_id": "123"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "INVALID DATA",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "enum": [
                          400
                        ],
                        "description": "Http status code"
                      },
                      "status": {
                        "type": "string",
                        "description": "error"
                      },
                      "message": {
                        "type": "string",
                        "enum": [
                          "Invalid basket item id.",
                          "Basket item not found."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/basket/update": {
        "post": {
          "tags": [
            "Basket"
          ],
          "summary": "Update basket item",
          "description": "Update basket item.",
          "operationId": "update_basket",
          "security": [
            {},
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "description": "existing basket item id",
                      "type": "integer"
                    },
                    "card_id": {
                      "type": "integer"
                    },
                    "return_address_id": {
                      "type": "integer",
                      "description": "if not present, it will be used default return address"
                    },
                    "address_id": {
                      "type": "integer"
                    },
                    "address_ids": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "supressWarnings": {
                      "type": "boolean",
                      "description": "Supresss warnings about unmatched marge fields in `message` or `wishes`"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "to_name": {
                            "type": "string"
                          },
                          "to_first_name": {
                            "type": "string"
                          },
                          "to_last_name": {
                            "type": "string"
                          },
                          "to_business_name": {
                            "type": "string"
                          },
                          "to_address1": {
                            "type": "string"
                          },
                          "to_address2": {
                            "type": "string"
                          },
                          "to_city": {
                            "type": "string"
                          },
                          "to_state": {
                            "type": "string"
                          },
                          "to_zip": {
                            "type": "string"
                          },
                          "to_country_id": {
                            "type": "integer"
                          },
                          "to_birthday": {
                            "type": "string"
                          },
                          "address_id": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    },
                    "message_align": {
                      "type": "string",
                      "description": "alignment of text",
                      "enum": [
                        "left",
                        "center"
                      ]
                    },
                    "font": {
                      "type": "string"
                    },
                    "font_size": {
                      "type": "integer"
                    },
                    "auto_font_size": {
                      "type": "boolean"
                    },
                    "for_free": {
                      "type": "boolean"
                    },
                    "couponCode": {
                      "type": "string"
                    },
                    "denomination_id": {
                      "type": "integer"
                    },
                    "insert_id": {
                      "type": "integer"
                    },
                    "quantity": {
                      "type": "integer"
                    },
                    "check_quantity": {
                      "type": "boolean",
                      "description": "check card quantity in stock, return `insufficient quantity` error in case of low stock"
                    },
                    "date_send": {
                      "type": "string",
                      "example": "2019-07-22T03:45:09.000Z"
                    },
                    "wishes": {
                      "type": "string",
                      "description": "wishes as part of the signature in the letter"
                    },
                    "signature_id": {
                      "type": "integer",
                      "description": "signature ID for wishes block"
                    },
                    "signature2_id": {
                      "type": "integer",
                      "description": "signature ID for main block"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 200
                      },
                      "status": {
                        "type": "string",
                        "example": "ok"
                      },
                      "order_id": {
                        "type": "integer",
                        "example": 725563
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "no uid",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 400
                      },
                      "error": {
                        "type": "string",
                        "description": "error description",
                        "enum": [
                          "no uid",
                          "invalid basket item id",
                          "basket item not found",
                          "card id error",
                          "not found",
                          "address error",
                          "message error",
                          "font error",
                          "insufficient quantity",
                          "no such card",
                          "no such gift card",
                          "no such insert",
                          "Coupon already used",
                          "Coupon already expired",
                          "addresses count error",
                          "card is not available for free",
                          "no free cards",
                          "cannot buy",
                          "no return info",
                          "no such address",
                          "no such country"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": false
                      },
                      "code": {
                        "type": "integer",
                        "example": 500
                      },
                      "message": {
                        "type": "string",
                        "description": "error description",
                        "enum": [
                          "error placing order (recipient address not found)",
                          "error placing main order",
                          "error placing child orders",
                          "error placing order",
                          "error placing order (saving from address)",
                          "error placing order (saving to address)"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/basket/clear": {
        "post": {
          "tags": [
            "Basket"
          ],
          "summary": "Clear basket",
          "description": "Clear basket",
          "operationId": "basket_clear",
          "security": [
            {},
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 200
                      },
                      "status": {
                        "type": "string",
                        "example": "ok"
                      },
                      "item": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": 9517
                            },
                            "card_id": {
                              "type": "string",
                              "example": 89
                            },
                            "order_id": {
                              "type": "string",
                              "example": 44373
                            },
                            "is_bulk": {
                              "type": "integer",
                              "enum": [
                                0,
                                1
                              ]
                            },
                            "denomination_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "message": {
                              "type": "string",
                              "example": "Dear XXX. May your birthday and every day be filled"
                            },
                            "for_free": {
                              "type": "string",
                              "enum": [
                                0,
                                1
                              ]
                            },
                            "price": {
                              "type": "string",
                              "example": 3
                            },
                            "discount_code": {
                              "type": "string",
                              "example": null
                            },
                            "font": {
                              "type": "string",
                              "example": "astDunn"
                            },
                            "quantity": {
                              "type": "string",
                              "example": 1
                            },
                            "date_to_send": {
                              "type": "string",
                              "nullable": true
                            },
                            "delivery_cost": {
                              "type": "string",
                              "example": 0.55
                            },
                            "intl_quantity": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/paths/~1basket~1item/get/responses/401"
            }
          }
        }
      },
      "/basket/count": {
        "get": {
          "tags": [
            "Basket"
          ],
          "summary": "Get basket items count",
          "description": "Get basket items count.",
          "operationId": "basket_count",
          "security": [
            {},
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "basket items count",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 200
                      },
                      "status": {
                        "type": "string",
                        "example": "ok"
                      },
                      "count": {
                        "type": "integer",
                        "example": 11
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/basket/remove": {
        "post": {
          "tags": [
            "Basket"
          ],
          "summary": "Remove basket item",
          "description": "Remove basket item",
          "operationId": "delete_basket",
          "security": [
            {},
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "basket item id (basket_id)",
                      "example": 758404
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 200
                      },
                      "status": {
                        "type": "string",
                        "example": "ok"
                      },
                      "item": {
                        "$ref": "#/paths/~1basket~1clear/post/responses/200/content/application~1json/schema/properties/item"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 400
                      },
                      "error": {
                        "type": "string",
                        "description": "error description",
                        "enum": [
                          "invalid basket item id",
                          "basket item not found"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/paths/~1basket~1item/get/responses/401"
            }
          }
        }
      },
      "/basket/cancel": {
        "post": {
          "tags": [
            "Basket"
          ],
          "summary": "Cancel past orders basket",
          "description": "Cancel past orders basket by basket id",
          "operationId": "cancel_basket",
          "security": [
            {},
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "basket id",
                      "example": 8193
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 200
                      },
                      "status": {
                        "type": "string",
                        "example": "ok"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "no uid",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 400
                      },
                      "error": {
                        "type": "string",
                        "description": "error description",
                        "enum": [
                          "no uid",
                          "id error",
                          "not found",
                          "cannot cancel"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/basket/allGrouped": {
        "get": {
          "tags": [
            "Basket"
          ],
          "summary": "List basket",
          "description": "List basket orders.",
          "operationId": "list_basket_grouped",
          "security": [
            {},
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "httpCode": {
                        "type": "integer",
                        "example": 200
                      },
                      "status": {
                        "type": "string",
                        "example": "ok"
                      },
                      "test_mode": {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int64",
                              "example": 44373
                            },
                            "basket_id": {
                              "type": "integer",
                              "format": "int64",
                              "example": 9517
                            },
                            "for_free": {
                              "type": "boolean"
                            },
                            "date_created": {
                              "type": "integer",
                              "format": "int64",
                              "example": 1563816075
                            },
                            "message": {
                              "type": "string",
                              "example": "Dear XXX. May your birthday and every day be filled"
                            },
                            "message_orig": {
                              "type": "string",
                              "example": "Dear XXX. May your birthday and every day be filled"
                            },
                            "message_align": {
                              "type": "string",
                              "description": "alignment of text",
                              "enum": [
                                "left",
                                "center"
                              ]
                            },
                            "font": {
                              "type": "string",
                              "example": "astDunn"
                            },
                            "font_size": {
                              "type": "integer",
                              "example": 32
                            },
                            "auto_font_size": {
                              "type": "boolean",
                              "example": false
                            },
                            "fontInfo": {
                              "$ref": "#/paths/~1orders~1listGrouped/get/responses/200/content/application~1json/schema/properties/orders/items/properties/fontInfo"
                            },
                            "address_from": {
                              "$ref": "#/paths/~1basket~1allGrouped/get/responses/200/content/application~1json/schema/properties/items/items/properties/address_to"
                            },
                            "address_to": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "First Laster"
                                },
                                "business_name": {
                                  "type": "string",
                                  "example": null
                                },
                                "address1": {
                                  "type": "string",
                                  "example": "USA fl. 13"
                                },
                                "address2": {
                                  "type": "string",
                                  "example": null
                                },
                                "city": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "AK"
                                },
                                "zip": {
                                  "type": "string",
                                  "example": 644100
                                },
                                "country_id": {
                                  "type": "string",
                                  "example": 1
                                },
                                "country": {
                                  "type": "string",
                                  "example": "United States"
                                }
                              }
                            },
                            "price": {
                              "type": "number",
                              "example": 3.55
                            },
                            "used_credit": {
                              "type": "integer",
                              "format": "int64",
                              "example": 0
                            },
                            "payed": {
                              "type": "integer",
                              "format": "int64",
                              "example": 0
                            },
                            "status": {
                              "type": "string",
                              "example": "basket"
                            },
                            "date_day": {
                              "type": "string",
                              "example": 22
                            },
                            "date_month": {
                              "type": "string",
                              "example": "Jul"
                            },
                            "date_year": {
                              "type": "string",
                              "example": 2019
                            },
                            "date_send": {
                              "type": "string",
                              "format": "date",
                              "example": "2019-07-22T00:00:00.000Z"
                            },
                            "card_category_name": {
                              "type": "string",
                              "example": "Happy Holidays"
                            },
                            "card_name": {
                              "type": "string",
                              "example": "Script Happy Holidays"
                            },
                            "card_cover": {
                              "type": "string",
                              "example": "https://d3e924qpzqov0g.cloudfront.net/cardimages/201511161046_89Right.jpg"
                            },
                            "multiaddress": {
                              "type": "integer",
                              "format": "int64",
                              "example": 0
                            },
                            "is_bulk": {
                              "type": "integer",
                              "format": "int64",
                              "example": 0
                            },
                            "delivery_cost": {
                              "type": "number",
                              "example": 0.55
                            },
                            "notes": {
                              "type": "string",
                              "nullable": true
                            },
                            "test_mode": {
                              "type": "integer",
                              "format": "int64",
                              "example": 0
                            },
                            "tax": {
                              "type": "string",
                              "nullable": true
                            },
                            "refund_status": {
                              "type": "integer",
                              "format": "int64",
                              "example": 0
                            },
                            "wishes": {
                              "type": "string",
                              "description": "wishes as part of the signature in the letter"
                            },
                            "signature": {
                              "$ref": "#/paths/~1orders~1list/get/responses/200/content/application~1json/schema/properties/orders/items/properties/signature"
                            },
                            "signature2": {
                              "$ref": "#/paths/~1orders~1list/get/responses/200/content/application~1json/schema/properties/orders/items/properties/signature"
                            },
                            "signature_id": {
                              "type": "integer",
                              "description": "signature ID for wishes block",
                              "deprecated": true
                            },
                            "signature_preview": {
                              "type": "string",
                              "description": "URL",
                              "deprecated": true
                            },
                            "signature2_id": {
                              "type": "integer",
                              "description": "signature ID for main block",
                              "deprecated": true
                            },
                            "signature2_preview": {
                              "type": "string",
                              "description": "URL",
                              "deprecated": true
                            },
                            "card": {
                              "type": "object",
[...]
